*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    width: 100%;
    height: 100%;
    background-color: aqua;
}
.container{
    width: 20%;
    height: 10%;
    background-color: blueviolet;
}
.container h1{
    text-align: center;
}